.box-shadow-blue {
  box-shadow: 0 0 10px mediumpurple;
}
.size-logo {
  width: 30px;
  height: 30px;
}
.link-active {
  background-color: #fff;
 border-radius: 7px;
  font-weight: bold;
 box-shadow: 0 0 10px mediumpurple;
}
